<% include ./partials/header.ejs %>

  <div class="w-full h-screen bg-zinc-300 flex items-center justify-center">
    <div class="w-96 h-[60vh] bg-zinc-100 px-4 py-5 rounded-lg shadow-2xl">
      <div class="flex justify-center">
        <img src="https://i.pinimg.com/originals/d3/d1/75/d3d175e560ae133f1ed5cd4ec173751a.png" alt="pin logo"
          class="w-12 h-12" />
      </div>
      <h1 class="text-4xl leading-none">Welcome to Pinterest</h1>
      <form action="">
        <input class="block mt-2 w-full px-3 py-2" type="text" name="username" placeholder="username">
        <input class="block mt-2 w-full px-3 py-2" type="password" name="password" placeholder="password">
        <input class="block mt-2 w-full px-3 py-2 bg-red-600 text-white rounded-full" type="submit">
      </form>
    </div>
  </div>

<% include ./partials/footer.ejs %>